/ktlt1/ThucHanh2/nbproject/private/
/ktlt1/ThucHanh2/build/
/HuongDoiTuongDeThiHocKy/De1/nbproject/private/
/HuongDoiTuongDeThiHocKy/bai03/nbproject/private/
/HuongDoiTuongDeThiHocKy/bai19/nbproject/private/
/HuongDoiTuongDeThiHocKy/bai19/build/
/HuongDoiTuongDeThiHocKy/File/nbproject/private/
/HuongDoiTuongDeThiHocKy/File/build/
/HuongDoiTuongDeThiHocKy/GiuaKyOOP/nbproject/private/
/HuongDoiTuongDeThiHocKy/Cau1/nbproject/private/
/HuongDoiTuongDeThiHocKy/Cau1/build/
/HuongDoiTuongDeThiHocKy/ThiGiuaKy/nbproject/private/
/HuongDoiTuongDeThiHocKy/GiuaKyOOP/Cau1/nbproject/private/
/HuongDoiTuongDeThiHocKy/GiuaKyOOP/Cau1/build/
/HuongDoiTuongDeThiHocKy/GiuaKyOOP/test/nbproject/private/
/HuongDoiTuongDeThiHocKy/GiuaKyOOP/test/build/
/QuanLyCanBo/nbproject/private/
/QuanLyCanBo/build/
/ QuanLyNhanVien/nbproject/private/
/ QuanLyNhanVien/build/
/De2_QuanLyNhanVien/nbproject/private/
/De2_QuanLyNhanVien/build/